@media screen and (min-width: 1200px) {
    .container {
    max-width: 1158px;
    padding-left: 16px;
    padding-right: 16px;
  }
  }

  /* HEADER */

  /* Hero */


  @media screen and (min-width: 1158px) {
    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
    .overlay {
        background-image: linear-gradient(to right, rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/hero/desktophero_2x.jpg);
    }
    }

    .overlay {
      outline: 1px solid transparent;
      margin: 0 auto;
      background-image: linear-gradient(to right, rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/hero/desktophero_2x.jpg);
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      background-color: #2e2f42;
      padding-bottom: 188px;
  }
  }


  /* Advatages */

  @media  screen and (min-width: 1200px) {
    .advantages {
      padding-top: 120px;
      padding-bottom: 120px;
  }
    .advantages-background {
    display: flex;
  }
    .advantages .title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
  }
  }

  /* Our team */

@media  screen and (min-width: 1200px) {
.team {
    padding-top: 120px;
    padding-bottom: 120px
  }
  .employment-partners {
  padding-top: 120px;
  padding-bottom: 120px;
}
}


     /* Footer */

@media  screen and (min-width: 1200px) {
  .footer {
  display: flex;
  padding-top: 100px;
  padding-bottom: 100px;
}
}
